@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neulis Sans";
  src: url("/src/assets/fonts/NeulisSans/NeulisSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neulis Sans";
  src: url("/src/assets/fonts/NeulisSans/NeulisSans-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Neulis Sans";
  src: url("/src/assets/fonts/NeulisSans/NeulisSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
